<app-navigation></app-navigation>
<div id="fondo">

  <section class="mt-4">
    <div class="container">
      <div class="row">

        
        <div class="col-md-12 col-lg-6 col-xs-12 col-sm-12 mt-4 mx-auto">
          <h3 align="center">Solución a la humedad con placas antihumedad</h3>
          <p class="ml-3">A continuación podrá encontrar algunos usos de nuestras placas antihumedad y situaciones donde nuestro producto es la solución ideal, asi como promociones o información de los productos o nuestros distribuidores.</p>
        </div>

        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let listado of ListOfContent"><a routerLink="/usos/{{listado.u_titulo}}">{{listado.u_titulo}}</a></li>
          </ul>
        </div>
    </div>
  </div>
</section>

</div>
<app-footer></app-footer>